section
  .container
    .video-play(data-video=require("@image/common/video.mp4"))

      //-source(data-src=require("@image/common/video-macbook.webm"))
      //-source(type="video/mp4" data-src=require("@image/common/video.mp4"))
      //- .video__poster
      //-   img.image-cover.lazy(src='assets/img/placeholder.gif' data-src=require("@image/common/image-common-2.jpg") )
      //-   button.video__button(type='button')
      //-     +icon('icon-play')


section
  .container
    +button({ className: 'j-popup j-popup-side', url: '#aside-side', theme: 'accent', size: 'md', text: 'Статья'})
    +button({ className: 'j-popup j-popup-side', url: '#cb-side', theme: 'accent', size: 'md', text: 'Обратный звонок'})
section
  .container
    +headline({
      size: 'md',
      mode: 'section',
      title: 'Далеко-далеко за словесными горами в стране.'
    })
    .l-flex.l-flex-2(data-anim="fadeInLeft" data-anim-duration="0.6" data-anim-ease="back.out(1.7)")
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
      .col
        .composition-box
section
  .container
    +headline({
      size: 'md',
      mode: 'section',
      title: 'Далеко-далеко за словесными горами в стране.'
    })
    .text-content(data-anim="fadeInLeft")
      h3(data-anim-item) Далеко-далеко
      h3(data-anim-item) Далеко-далеко
      h3(data-anim-item) Далеко-далеко


section#section
  .container
    +headline({
      size: 'md',
      mode: 'section',
      title: 'Посмотрите'
    })
    .l-flex.l-flex-2
      .col
        .text-content(data-anim="fadeInLeft")
          h2 Далеко-далеко за словесными горами в стране.
          p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Мир пор, имеет пунктуация вдали они безопасную великий эта, ipsum последний до меня сбить осталось выйти пустился собрал силуэт! Букв это семь грустный текстов но мир однажды злых языком речью рыбными безорфографичный единственное даль lorem города обеспечивает, за возвращайся раз своего гор переписывается лучше на берегу использовало! Однажды ipsum не, решила ее журчит вершину. Великий языкового инициал снова языком повстречался предупреждал грамматики безопасную реторический о города которой встретил моей наш продолжил, власти имени собрал деревни назад грустный переулка использовало семантика. Диких залетают языком рыбными свой снова пояс жизни, грамматики своего всеми!
      .col
        div.image-clipPath(data-anim="clipPath")
          img.image-cover.lazy(src='assets/img/placeholder.gif' data-src=require("@image/common/image-common-2.jpg") )