mixin headline(data)
  -
    var classRoot = ''
    classRoot += (data.mode) ? `headline--${data.mode}` : ''
    classRoot += (data.size) ? ` headline-size--${data.size}` : ''
    //- classRoot += (data.animation) ? ` ${data.animation}` : ' gs gs-fadeIn'
    classRoot += (data.className) ? ` ${data.className}` : ''

  .headline(class= classRoot data-anim="fadeIn")
    .headline__inner
      if data.tag === 'h3'
        h3.headline__title= data.title
      else if data.tag === 'h1'
        h1.headline__title= data.title
      else
        h2.headline__title= data.title

      if data.subtitle
        .headline__subtitle= data.subtitle

    if data.textRight
      .headline__right
        .headline__right-text= data.textRight

//- Use
  +headline({
    size: 'lg',
    mode: 'section',
    title: 'Посмотрите наше портфолио',
    subtitle: 'Выполнили 100+ реализованных проектов'
  })