- const dataPortfolio = require('../../components/blocks/portfolio/data-portfolio.json')

mixin portfolio-card(data)
  .col(data-tab= data.type)
    a(href= '#' + data.id).card-portfolio.j-popup.j-popup-side
      .card__image
        img.lazy.image-cover(src='assets/img/placeholder.gif' data-src=require('@image/common/' + data.image), alt='#')
      .card__content
        .card__date= data.date
        .card__title= data.title
        .card__subtitle= data.description

mixin portfolio-popup(data)
  .popup-side.popup-side-size--md.popup-side-pos--start.mfp-with-anim.mfp-hide(id= data.id)
    .popup-inner
      .portfolio-popup
        .portfolio-popup__title= data.title
        .portfolio-popup__subtitle= data.description
        .portfolio-popup__date= data.date
        if data.link
          .portfolio-popup__link
            +button({size: 'sm',theme: 'accent',url: data.link, text: 'Посмотреть сайт',iconBefore: {
              name: 'icon-link',
            },})
        if data.stack
          .portfolio-popup__stack
            each item in data.stack
              p= `${item.name} ${item.text}`
        if data.video
          .browser
            .browser__header
              span
              span
              span
            .browser__content
              .video-play(data-video-popup=require("@image/common/" + data.video))
        if data.imagePopup
          .browser
            .browser__header
              span
              span
              span
            .browser__content
              img.image(src=require('@image/common/' + data.imagePopup), alt='#')



section#portfolio.portfolio
  .container
    +headline({
      size: 'md',
      mode: 'section',
      title: 'Портфолио'
    }) ВСЕ РАБОТЫ "ПОД КЛЮЧ" ВЕРСТКА ПРОЧЕЕ
    .j-tab.tab.tab-anim--top.tab--simple(data-type="true" )
      .tab__buttons(data-anim="fadeInUp")
        .tab__btn(data-tab="all")
          button.tab__btn-btn(type="button")
            span.tab__btn-text Все работы
        .tab__btn(data-tab="full")
          button.tab__btn-btn(type="button")
            span.tab__btn-text "Под ключ"
        .tab__btn(data-tab="verstka")
          button.tab__btn-btn(type="button")
            span.tab__btn-text Верстка
        //- .tab__btn(data-tab="other")
        //-   button.tab__btn-btn(type="button")
        //-     span.tab__btn-text Прочее
      .tab__content(data-anim="fadeInUp")
        .tab__content-type-elem
          .l-flex.l-flex-3
            each item in dataPortfolio.data
              +portfolio-card(item)
  // Portfolio popups
  each item in dataPortfolio.data
    +portfolio-popup(item)