//- NAME
mixin inputName(data)
  -
    let classRoot = 'form__input'
    classRoot += (data.className) ? ` ${data.className}` : ''
    classRoot += (data.theme) ? ` form__input--${data.theme}` : ''
  .form__group
    .form__input-wrap
      input(class= classRoot type="text" name="name" required)
      label.form__label Имя *
      .messages

//- PHONE
mixin inputPhone(data)
  -
    let classRoot = 'form__input'
    classRoot += (data.className) ? ` ${data.className}` : ''
    classRoot += (data.theme) ? ` form__input--${data.theme}` : ''
  .form__group
    .form__input-wrap
      input(class= classRoot type="tel" name="phone" minlength="16" required)
      label.form__label Телефон
      .messages

//- EMAIL
mixin inputEmail(data)
  -
    let classRoot = 'form__input'
    classRoot += (data.className) ? ` ${data.className}` : ''
    classRoot += (data.theme) ? ` form__input--${data.theme}` : ''
  .form__group
    .form__input-wrap
      input(class= classRoot type="email" name="email" required)
      label.form__label Электронная почта
      .messages

//- TEXTAREA
mixin inputTextarea(data)
  -
    let classRoot = 'form__input form__textarea'
    classRoot += (data.className) ? ` ${data.className}` : ''
    classRoot += (data.theme) ? ` form__input--${data.theme}` : ''
  .form__group
    .form__input-wrap
      textarea(class= classRoot name="message")
      label.form__label Сообщение
      .messages

//- Submit
mixin formSubmit()
  .form__submit
    +button({className: 'btn-submit',fluid: true, theme: 'accent', type: 'submit', size: 'md', text: 'Заказать звонок'})

//- formConsent
mixin formConsent()
  .form__consent
    .form__consent-inner
      +checkbox-privacy('black')