mixin switch-simple(text, name=false, iconBefore=false, checked=false)
  label.form-switch(class=iconBefore?'form-switch--iconBefore':'')
    input(type="checkbox" name= name checked= checked)
    i.form-switch__icon
    span.form-switch__text= text